
button.carousel-control-next{
    background: transparent;
    border: none;
}

span.carousel-control-prev-icon{
    filter: invert(1);
}

button.carousel-control-prev{
    background: transparent;
    border: none;
}

.visually-hidden{
    color: black;
}

span.carousel-control-next-icon {
    filter: invert(1);
}

.sold-item{
    color: red;
}